
/** Reglas de estilos globales **/
#canvas {
	width: 1200px;
	height: 845px;
}

.object {
	position: absolute;
}

.panel {
	/*
	background-color: rgba(242, 242, 242, 1);
	border-bottom: 5px solid #cccccc;
	border-right: 5px solid #cccccc;
	*/
	background-color: #ff6666;
}

button {
	background-color: transparent;
	font-size: 25px;
	height: 40px;
    outline: none !important;
}

button:hover, button:focus, button:active {
	background-color: transparent;
	border: none;
}

img:focus {
    outline: none !important;
}

input {
	color: #333333;
	border-radius: 0;
    /*border: 2px solid white;*/
    line-height: 27px;
    outline: 0;
    font-size: 25px;
    text-align: center; 
}

hr {
    height: 5px;
    background-color: #ca9e67;
    width: 135px;
}

/** Reglas de estilos para la barra de herramientas **/
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.toolbar #stop-button {
  background-image: url('../img/activity-stop.png');
}

/** Regalas de estilos del menus de seleccion de tema **/
#page1 {
	height: 100%;
	width: 100%;
	background: url('../img/pantalla_1.png') 0 0 no-repeat;
	background-color: #3bd9ed;
}

#btn_mc {
    left: 50px;
    top: 140px;
    width: 300px;
	height: 145px;
}

#btn_mp {
    left: 50px;
    top: 330px;
    width: 275px;
	height: 188px;
}

#btn_ml {
    left: 50px;
    top: 550px;
    width: 319px;
	height: 170px;
}

#btn_nn {
    left: 810px;
    top: 120px;
    width: 330px;
	height: 190px;
}

#btn_nf {
    left: 830px;
    top: 330px;
    width: 310px;
	height: 167px;
}

#btn_nd {
    left: 740px;
    top: 550px;
    width: 411px;
	height: 166px;
}

/*button.pantalla_1 {
	width: 330px;
	height: 40px;
	background-color: #659cff;
}

button.pantalla_1:hover{
	color: #659cff;
	background-color: white;
}*/

/** Regalas de estilos del patalla de conceptos y ejemplos **/
#page2 {
	height: 100%;
	width: 100%;
	background: url('../img/pantalla_2.png') 0 0 no-repeat;
	background-color: #3bd9ed;
}

#tema {
	color: #006838;
	top: 220px;
	left: 370px;
	font-size: 45px;
    width: 470px;
    text-align: center;
}

#concepto {
	color: #bd1f2d;
    width: 500px;
    top: 310px;
    left: 357px;
    font-size: 35px;
    text-align: center;
}

#ejemplo {
	color: #bd1f2d;
	top: 530px;
	left: 470px;
	font-size: 35px;
}

#pantalla_0 {
	top: 680px;
    left: 15px;
    color: white;
    font-size: 30px;
    width: 216px;
    height: 132px;
}

button.pantalla_2 {
	color: white;
	top: 660px !important;
    left: 888px !important;
	font-size: 30px;
	width: 298px !important;
	height: 178px !important;
}

/** Regalas de estilos de resolucion de ejerccios **/
#page3 {
	height: 100%;
	width: 100%;
	background: url('../img/pantalla_3.png') 0 0 no-repeat;
	background-color: #49ffcb;

}

/*#problema-panel {
	background-color: white;
	width: 516px;
	height: 99px;
	top: 56px;
	left: 53px;
}*/

#problema {
	color: #056734;
	width: 500px;
	top: 20px;
	left: 64px;
	font-size: 20px;
}

/*#datos-panel {
	width: 240px;
	height: 230px;
	top: 60px;
	left: 907px;
}*/

#datos-label {
	color: #056734;
	top: 34px;
	left: 940px;
	font-size: 30px;
}

#datos {
    color: #056734;
	top: 50px;
	left: 930px;
	font-size: 20px;
	width: 130px;
}

#signos {
	top: 350px;
    left: 465px;
    z-index: 1;
    margin-left: 0px;
}

#suma {
	top: 0px;
    left: 0px;
}

#resta {
	top: 20px;
    left: 60px;
}

#multi {
	top: 0px;
    left: 120px;
}

#divi {
	top: 0px;
    left: 180px;
}

#igual {
	top: 10px;
	left: 240px;
}

#operacion-panel {
	width: 1118px;
    height: 205px;
    top: 175px;
    left: 14px;
    background-color: #deeee0;
    border-style: solid;
    border-width: 6px 27px 6px 27px;
    border-color: #c2e0cc;
}

#operacion-label {
	color: #844523;
	top: 5px;
	left: 480px;
    width: 180px;
	font-size: 35px;
}

.operacion {
	width: 135px;
	top: 50px;
	left: 15px;
	height: 40px;
	font-size: 35px;
    background-color: #009640;
    color: #1a1a1a;
    border-radius: 10px;
}

.on-op {
	color: #ca9e67 !important;
    background-color: #ca9e67;
}

input:disabled {
	color: #e4cb22 !important;
}

#respuesta-panel {
	width: 645px;
	height: 109px;
	top: 400px;
	left: 250px;
    background-color: #deeee0;
    border-style: solid;
    border-width: 6px 27px 6px 27px;
    border-color: #c2e0cc;
}

#respuesta-label {
	color: #844523;
	top: 430px;
	left: 60px;
    width: 180px;
	font-size: 35px;
}

.respuesta {
	width: 135px;
	top: 50px;
	left: 15px;
	height: 40px;
	font-size: 35px;
    background-color: #009640;
    color: #1a1a1a;
    border-radius: 10px;
}

#btn_rv {
	color: white;
	top: 120px;
	left: 185px;
	font-size: 25px;
	/*border-radius: 0px;*/
	width: 130px;
	height: 40px;
	background-color: #18a47a;
	/*background: url('../img/btn_rv.png') 0 0 no-repeat;*/
}

#btn_rv:hover {
	color: #18a47a;
	background-color: white;
}

#cont_btn_ini {
	width: 170px;
	height: 202px;
	top: 632px;
	left: 90px;
	/*background: url('../img/senal_inicio.png') 0 0 no-repeat;*/
}

#btn_ini {
	color: white;
	top: 90px;
	left: 20px;
	font-size: 30px;
	width: 130px;
	height: 40px;
	background-color: #e4cb22;
}

#btn_ini:hover {
	color: #e4cb22;
	background-color: white;
}

#cont_btn_nv {
	width: 237px;
	height: 137px;
	top: 697px;
	left: 907px;
	/*background: url('../img/senal_nuevo.png') 0 0 no-repeat;*/
}

#btn_nv {
	color: white;
	top: 25px;
	left: 54px;
	font-size: 30px;
	width: 130px;
	height: 40px;
	background-color: #c0392b;
}

#btn_nv:hover {
	color: #c0392b;
	background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    height: 40%;
}

.modal-content h1 {
	font-size: 80px;
	color: #18a47a;
}

.modal-content h3 {
	font-size: 35px;
	color: #5599ff;
}

.close {
    color: white;
    float: right;
    font-size: 25px;
    /*font-weight: bold;*/
    background-color: #18a47a;
}

.close:hover,
.close:focus {
    color: #18a47a;
	background-color: white;
    text-decoration: none;
    cursor: pointer;
}