
/** Reglas para los estilos de fuetes **/
@import url(../font/fonts.css?family=Cantarell-Regular);
@import url(../font/fonts.css?family=Comfortaa-Bold);


/** Reglas de estilos globales **/
body {
	font-family: 'Cantarell-Regular';
}

#canvas {
	width: 1200px;
	height: 835px;
}

.object {
	position: absolute;
}

.panel {
	background-color: rgba(242, 242, 242, 0.9);
	border-bottom: 5px solid #cccccc;
	border-right: 5px solid #cccccc;
}

h1 {
	font-family: 'Comfortaa-Bold';
}

button {
	background-color: transparent;
	font-family: 'Comfortaa-Bold';
}

button:hover, button:focus, button:active {
	background-color: transparent;
	border: none;
}

input[type="text"] {
	color: #333333;
	font-family: 'Cantarell-Regular';
	border-radius: 0;
    border: 2px solid white;
    background-color: white;
    padding: 4px;
    line-height: 22px;
    outline: 0;
}

/** Reglas de estilos para la barra de herramientas **/
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.toolbar #stop-button {
  background-image: url('../img/activity-stop.png');
}

/** Regalas de estilos del menus de seleccion de tema **/
#page1 {
	height: 100%;
	width: 100%;
	/*background: url('../img/pantalla_1.png') 0 0 no-repeat;*/
}

/** Regalas de estilos del patalla de conceptos y ejemplos **/
#page2 {
	height: 100%;
	width: 100%;
	background: url('../img/pantalla_2.png') 0 0 no-repeat;
}

#tema {
	color: white;
	top: 120px;
	left: 150px;
	font-size: 30px;
}

#concepto {
	color: white;
	width: 470px;
	top: 170px;
	left: 160px;
	font-size: 25px;
}

#ejemplo {
	color: white;
	top: 325px;
	left: 190px;
	font-size: 40px;
}

button.pantalla_2 {
	color: white;
	top: 610px;
	left: 455px;
	font-size: 30px;
}

button.pantalla_2:hover{
	color: #659cff;
}

/** Regalas de estilos de resolucion de ejerccios **/
#page3 {
	height: 100%;
	width: 100%;
	background: url('../img/pantalla_3.png') 0 0 no-repeat;
}

#problema-panel {
	width: 800px;
	height: 230px;
	top: 60px;
	left: 200px;
}

#problema {
	color: #333333;
	width: 770px;
	top: -20px;
	left: 15px;
	font-size: 30px;
}

#datos-panel {
	width: 240px;
	height: 230px;
	top: 350px;
	left: 80px;
}

#datos-label {
	color: #333333;
	top: 0px;
	left: 15px;
	font-size: 20px;
}

.dato {
	border-radius: 0;
    border: 2px solid white;
    background-color: white;
    line-height: 22px;
    outline: 0;
	top: 30px;
	left: 15px;
	font-size: 20px;
	width: 180px;
}

#signos {
	width: 30px;
	height: 155px;
	top: 390px;
    left: 455px;
    z-index: 1;
    margin-left: 0px;
}

#suma {
	top: 0px;
    left: 0px;
}

#resta {
	top: 40px;
    left: 0px;
}

#multi {
	top: 60px;
    left: 0px;
}

#divi {
	top: 100px;
    left: 0px;
}

#igual {
	top: 135px;
	left: 0px;
}

#operacion-panel {
	width: 650px;
    height: 150px;
    top: 390px;
    left: 448px;
    border-left: 40px solid #cccccc;
}

#operacion-label {
	color: #333333;
	top: 0px;
	left: 15px;
	font-size: 20px;
}

.operacion {
	border-radius: 0;
    border: 2px solid white;
    background-color: white;
    /*padding: 4px;*/
    line-height: 22px;
    outline: 0;
	width: 50px;
	top: 30px;
	left: 15px;
	font-size: 15px;
}

#respuesta-panel {
	width: 400px;
	height: 130px;
	top: 640px;
	left: 428px;
}

#respuesta-label {
	color: #333333;
	top: 0px;
	left: 15px;
	font-size: 20px;
}

#respuesta {
	border-radius: 0;
    border: 2px solid white;
    background-color: white;
    /*padding: 4px;*/
    line-height: 22px;
    outline: 0;
	top: 40px;
	left: 15px;
	font-size: 20px;
	width: 75px;
}

#btn_rv {
	color: white;
	top: 80px;
	left: 140px;
	font-size: 25px;
	border-radius: 0px;
	width: 110px;
	height: 30px;
	background: url('../img/btn_rv.png') 0 0 no-repeat;
}

#btn_rv:hover {
	color: #c0392b;
}

#cont_btn_ini {
	width: 170px;
	height: 202px;
	top: 632px;
	left: 137px;
	background: url('../img/señal_inicio.png') 0 0 no-repeat;
}

#btn_ini {
	color: white;
	top: 70px;
	left: 35px;
	font-size: 30px;
}

#btn_ini:hover {
	color: #e4cb22;
}

#cont_btn_nv {
	width: 237px;
	height: 137px;
	top: 697px;
	left: 880px;
	background: url('../img/señal_nuevo.png') 0 0 no-repeat;
}

#btn_nv {
	color: white;
	top: 25px;
	left: 50px;
	font-size: 30px;
}

#btn_nv:hover {
	color: #18a47a;
}